.is-fixed {
  position: fixed;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100px;
  padding: 0 100px;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.2s;

  animation: headerIn cubic-bezier(0.32, 0.8, 0.45, 0.98) 0.5s both;
}

.header.scrolled {
  background-color: rgb(11, 10, 9);
  border-bottom: 1px rgb(32, 32, 32) solid;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.hb-closed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.header-right {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 18px;
  color: rgb(217, 161, 101);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.links {
  display: flex;
  column-gap: 20px;
}

.links a:hover {
  border-bottom: 2px solid rgb(217, 161, 101);
}

.hb-menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 70px;
  }
  .links a {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .links a {
    display: none;
  }
  .whatsapp-us {
    display: none;
  }
  .hb-menu {
    display: initial;
  }
  .hb-open {
    opacity: 1;
    visibility: visible;
  }

  /* elements in hb menu */
  .hb-closed a {
    display: block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    border-bottom: 2px solid rgb(32, 32, 32);
    padding: 15px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(217, 161, 101);
    background-color: rgb(11, 10, 9);
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0 20px;
  }
}

/* Animations */
@keyframes headerIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
