.header {
  display: flex;
  top: 0px;
  left: 0;
  right: 0;
  position: fixed;
  height: 100px;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  font-weight: bold;
  transition: background-color 0.2s;
}

.header.scrolled {
  background-color: rgb(11, 10, 9);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  border-bottom: 1px rgb(32, 32, 32) solid;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 100px;
  margin-top: 10px;
}

.header-right {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 18px;
  color: rgb(217, 161, 101);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.header-right div {
  display: block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.header-right div:hover {
  border-bottom: 2px solid rgb(217, 161, 101);
}

.hb-menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 70px;
  }
  .header-right div {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .header-right div {
    display: none;
  }
  .hb-menu {
    display: initial;
  }
}
