.services-container {
  background-color: rgb(11, 10, 9);
  color: white;
  height: 100%;
  padding: 100px;
}

.cards-layout-services {
  display: flex;
  column-gap: 20px;
}

.services-heading-layout {
  max-width: 850px;
}

.card-services {
  background-color: rgb(20, 18, 16);
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: rgb(26, 23, 21) solid 2px;
  width: 100%;
  border-radius: 10px;
  cursor: default;
}

.card-services span {
  font-style: "Butler";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.card-services p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 141, 133);

  font-size: 20px;
  line-height: 1.5;
  border-bottom: solid #2a2521 2px;
  padding-bottom: 16px;
}

.card-services div {
  color: #dea368;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 24px;
}

.card-services div:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .services-container {
    height: 100%;
  }
  .cards-layout-services {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
