.testimonials-container {
  background-color: rgb(11, 10, 9);
  padding: 100px;
  height: 100%;
}

.testimonial-heading-layout {
  max-width: 3000px;
}

.review-layout {
  display: flex;
  column-gap: 30px;
  margin-top: 100px;
}

@media screen and (max-width: 1100px) {
  .testimonials-container {
    height: 100%;
  }
  .review-layout {
    flex-direction: column;
    row-gap: 30px;
  }
}
