.why-us-container {
  height: 100%;
  padding: 100px;
  background-color: #f5efe8;
}

.why-us-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.why-us-heading-layout {
  max-width: 1100px;
}

.cards-layout-why-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.card-why-us {
  background-color: rgb(252, 247, 241);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: rgb(232, 223, 212) solid 2px;
  border-radius: 10px;
  cursor: default;
}

.card-why-us span {
  font-style: "Butler";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.card-why-us p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 141, 133);

  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 1100px) {
  .why-us-container {
    height: 100%;
  }

  .cards-layout-why-us {
    grid-template-columns: repeat(1, 1fr);
  }
}
